@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

.font {
  font-family: "Space Mono", monospace;
}

.form-container{
    margin-top: 10px;
    border-radius: 10px;
    background: linear-gradient(145deg, #564787, #DBCBD8);
    box-shadow: 9px 9px 13px #564787, -9px -9px 13px #DBCBD8;
}

.submit-btn {
    background-color: #564787;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 50%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }