{% extends "base.html" %} {% block content %}

<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/index.css') }}"
/>
<style>
  @import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

  .font {
    font-family: "Space Mono", monospace;
  }
  .form-section {
    background-color: #101935;
    height: 100vh;
    width: 100vw;
  }
</style>
{% block pitch %}
<div>
  {% for pitch in pitch %}
  <div
    class="card text-center w-75 mx-auto mt-5"
    style="background-color: #564787; color: #DBCBD8;"
  >
    <div class="card-body">
      <h5 class="card-title fs-3 fw-bolder">{{ pitch.title }}</h5>
      <p class="card-text">📌 {{ pitch.body }}</p>
      <a href="#" class="btn btn-primary">Upvote</a>
      <div class="card-footer submit-btn">
        <p>Posted on {{pitch.date_posted}}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock pitch %} {% endblock %}
