{% extends "base.html" %} {%block content%}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pitches.css') }}">
<!-- form for creating a new pitch -->

<div class="form-section font flex justify-center items-center mx-auto">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group form-container justify-center items-center w-96 h-96  p-5 mx-auto">
            <h1 class="font-bold font text-xl text-center mb-5 ">Let's hear you!</h1>
            <legend class="border-bottom mb-5">Create New Pitch</legend>
            <div class="form-group te">
                {{ form.title.label(class="form-control-label") }}
                {% if form.title.errors %}
                    {{ form.title(class="form-control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.title(class="form-control form-control-sm") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.body.label(class="form-control-label") }}
                {% if form.body.errors %}
                    {{ form.body(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.body.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.body(class="form-control form-control-sm") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group col-auto">
            {{ form.submit(class="button") }}
        </div>

  </div>
</div>
{% endblock %}
